<main>
    <section id="section__header">
        <div class="container">
            <div class="nav">
                <div class="logo">
                    <h1>MET <span>Minimalist Expense Tracker</span></h1>
                </div>
                <div class="buttons">
                    <export-transactions-button
                        [transactionsList]="
                            transactionService.transactionsList()
                        "
                        [totalIncome]="transactionService.totalIncome()"
                        [totalOutcome]="transactionService.totalOutcome()"
                    />
                    <import-transactions-button
                        (transactionsUploaded)="
                            transactionService.loadTransactionsAndSetTotals(
                                $event
                            )
                        "
                    />
                </div>
            </div>
        </div>
    </section>

    <section id="section__dashboard">
        <div class="container">
            <economic-overview
                [totalIncome]="transactionService.totalIncome()"
                [totalOutcome]="transactionService.totalOutcome()"
                [netTotal]="transactionService.netTotal()"
            />

            <remaining-expense-calculator
                [currentMonthTotalIncome]="
                    transactionService.currentMonthTotalIncome()
                "
                [currentMonthTotalOutcome]="
                    transactionService.currentMonthTotalOutcome()
                "
            />
        </div>
    </section>
    <section id="section__transaction">
        <div class="container">
            <h2>Add transaction</h2>
            <transaction-input-form
                (transactionCreated)="transactionService.addTransaction($event)"
            />
            <form class="filters">
                <h3>Filter</h3>
                <div class="row">
                    <transaction-type-selector
                        (typeSelected)="
                            transactionService.transactionsListFilteredByType(
                                $event
                            )
                        "
                        [transactionsFilter]="
                            transactionService.transactionsTypeFilter()
                        "
                    />
                    <sorting-preference-selector
                        (orderSelected)="
                            transactionService.sortTransactionsByOrder($event)
                        "
                        [transactionsOrder]="
                            transactionService.transactionsOrder()
                        "
                    />
                    <transaction-search
                        (searchChange)="
                            transactionService.transactionsListFilteredBySearch(
                                $event
                            )
                        "
                    />
                </div>
            </form>

            <div class="transactions">
                <transactions-list
                    [transactionsList]="transactionService.transactionsList()"
                    [transactionsFilter]="
                        transactionService.transactionsTypeFilter()
                    "
                    [transactionsOrder]="transactionService.transactionsOrder()"
                    [transactionsSearch]="
                        transactionService.transactionsSearch()
                    "
                    (transactionToDelete)="
                        transactionService.deleteTransaction($event)
                    "
                />
            </div>
        </div>
    </section>
</main>
