<div class="row row__number">
    <div class="card card__number">
        <h2>Calculate remaining daily expenses</h2>
        <div class="card__input">
            <input
                type="number"
                name="number"
                class="input__number"
                [(ngModel)]="target"
            />
            <button class="btn" (click)="calculateRemainingExpense()">
                Calculate
            </button>
        </div>
    </div>
    <div class="card">
        <p class="card__label">Remaining daily expenses</p>

        @if (remainingExpense >= 0) {
        <p class="card__text-big">
            {{ remainingExpense | currency : "EUR" }}
        </p>
        }@else if (remainingExpense < 0) {
        <p class="card__text-big">N.P</p>
        }
    </div>
</div>
